@charset "utf-8";
/* CSS Document */
table{ border-collapse: collapse;	}

*{padding:0;margin:0;}

.wrapper{ width:100%;height:auto; border: 1px solid #CCC; margin:auto; }
.header{ width: 100%; height:80px; border: 1px solid #CCC; background:#FFF;padding-top:30px;}
.menu{width:100%; height:50px; border:1px solid #CCC; background:#FFF; }

.menu ul{ width:100%; height:50px; list-style:none;}

.menu  ul li { padding: 15px 30px; float:left; }

.menu ul li a{ color:#000; text-decoration:none; }

.menu a:hover{ color:#60F; }

.content{ width:100%;height:auto; border: 1px solid #CCC; }

.left{ width:300px;height:auto;float:left; }

.right{ width:1000px;height:auto;float:right; }

.clear{ clear:both; }

.footer{ width:100%; height:40px; border: 1px solid #CCC; }
